.step {
    display: inline-block;
    width:200px;
    height:150px;
    border: 1px solid black;
}
.blurb {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", sans-serif;
}

