<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
			<script type="text/x-mathjax-config">
			  MathJax.Hub.Config({
				jax: ["input/TeX", "output/HTML-CSS"],
				tex2jax: {
				  inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
				  displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
				  processEscapes: true,
				  skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
				}
				//,
				//displayAlign: "left",
				//displayIndent: "2em"
			  });
			</script>
			<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>

		</head>
		<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<ul class="nav navbar-nav">
	        			<li><a href="/">Home</a></li>
		        		<li><a href="/about">About</a></li>
	        			<li><a href="/projects">Projects</a></li>
	    		 	</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="mailto:anushan395@hotmail.co.uk"><i class="fa fa-envelope"></i></a></li>
	        			<li><a href="https://github.com/Nush395"><i class="fa fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/anushan-fernando-a73741125/"><i class="fa fa-linkedin-square"></i></a></li>
					</ul>
				</div>
			</nav>

			<div class="container-fluid">
			{{ content }}
			</div><!-- /.container -->

		</body>
	</html>