<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.buttflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Posts</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:anushan395@hotmail.co.uk"><i class="fa fa-envelope"></i></a></li>
	        		<li><a href="https://github.com/Nus395"><i class="fa fa-github"></i></a></li>
					<li><a href="https://www.linkedin.com/in/anushan-fernando-a73741125/"><i class="fa fa-linkedin-square"></i></a></li>
				</ul>
			</footer>
		</body>
	</html>